@using Microsoft.AspNetCore.Mvc.Rendering
@using ElClima.FrontEnd.Helpers
@using ElClima.FrontEnd.Config

@inject ElClimaConfiguration Config;


<!doctype html>
<html lang="es-AR">
<head>
    <link rel="shortcut icon" type="image/ico" href="~/assets/images/VRIcons/VR/favicon-32x32.png">
    <meta charset="UTF-8/ISO-8859-1" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="Author" content="people" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1.0, user-scalable=0" />
    <title>El Clima - Córdoba</title>

    <!-- BOOSTRAP CSS -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />  
    <link href="~/assets/plugins/fonts/font-awesome5.11.2/css/all.css" rel="stylesheet" type="text/css" /> 

    <!-- MDB CSS -->
    <link href="~/assets/plugins/mdb/css/mdb.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/css/Shared/Layout/layout.css" rel="stylesheet" type="text/css" />

    @RenderSection("HtmlHead", false)

</head>
<body>
    <!-- WRAPPER -->
    <div id="wrap" class="container clear-top">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row justify-content-center"> 
                <div class="col-3 col-md-4 col-lg-1">
                    <i class="fas fa-ellipsis-h fa-4x "></i>
                </div> 
            </div>
        </div>
    </footer>

    <!--JAVASCRIPT FILES-->


    <script type="text/javascript" src="/assets/plugins/jquery/development/jquery-3.4.1.js"></script>
    <script src="~/assets/plugins/vuejs/dev/vue.js"></script>

    @*---mdb---*@
    <script src="~/assets/plugins/mdb/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/assets/plugins/mdb/js/mdb.min.js" asp-append-version="true"></script>

    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/scripts/Common/utils.js"></script>

    @RenderSection("DelayedScripts", false)

    @Html.Raw(MasterLayoutHelper.GetDelayedJavaScriptFiles(Context))
    <script type="text/javascript">
        jQuery(document).ready(function () {
            @Html.Raw(MasterLayoutHelper.GetLinesForDocumentReadyFunction(Context))
        });
    </script>
</body>
</html>
