@using Microsoft.AspNetCore.Mvc.Rendering
@using ElClima.FrontEnd.Helpers
@using ElClima.FrontEnd.Config

@inject ElClimaConfiguration Config;


<!doctype html>
<html lang="es-AR">
<head>
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico">
    <meta charset="UTF-8/ISO-8859-1" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="Author" content="people" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1.0, user-scalable=0" />
    <title>El Clima - Córdoba</title>

    <!-- CORE CSS -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet" />*@

    <!-- MDB CSS -->
    <link href="~/assets/plugins/mdb/css/mdb.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/css/Shared/Layout/layout.css" rel="stylesheet" type="text/css" />

    @RenderSection("HtmlHead", false)

</head>
<body>
    <!-- WRAPPER -->
    <div class="container">
        @RenderBody()
    </div> 

    <!--JAVASCRIPT FILES-->

    <script src="~/assets/plugins/vuejs/dev/vue.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery/development/jquery-3.4.1.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    @*---mdb---*@
    <script src="~/assets/plugins/mdb/js/mdb.min.js" asp-append-version="true"></script>
    <script src="~/assets/plugins/mdb/js/popper.min.js" asp-append-version="true"></script>

    <script src="~/scripts/Common/utils.js"></script>

    @RenderSection("DelayedScripts", false)

    @Html.Raw(MasterLayoutHelper.GetDelayedJavaScriptFiles(Context))
    <script type="text/javascript">
        jQuery(document).ready(function () {
            @Html.Raw(MasterLayoutHelper.GetLinesForDocumentReadyFunction(Context))
        });
    </script>
</body>
</html>
