@using Microsoft.AspNetCore.Mvc.Rendering
@using ElClima.FrontEnd.Helpers  

<!doctype html>
<html lang="es-AR">
<head>
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico">
    <meta charset="UTF-8/ISO-8859-1" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="Author" content="people" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- CORE CSS -->
    <link href="~/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- THEME CSS -->


    <!--- STYLES --->
    <link href="~/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    @RenderSection("HtmlHead", false)
</head>
<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        @*@await Html.PartialAsync("_HeaderAndPanelPartial")*@
        <!--     MIDDLE     -->
        <section id="middle"> 
            @RenderBody()
        </section>
        <!-- /MIDDLE -->
    </div>

    <!--JAVASCRIPT FILES-->
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/plugins/jquery/development/jquery-3.4.1.js"></script>

    @RenderSection("DelayedScripts", false)
    @Html.Raw(MasterLayoutHelper.GetDelayedJavaScriptFiles(Context))
    <script type="text/javascript">
        jQuery(document).ready(function () {
            @Html.Raw(MasterLayoutHelper.GetLinesForDocumentReadyFunction(Context))
        });
    </script>
</body>
</html>
