@using Microsoft.AspNetCore.Mvc.Rendering
@using ElClima.FrontEnd.Helpers
@using ElClima.FrontEnd.Config

@inject ElClimaConfiguration Config;


<!doctype html>
<html lang="es-AR">
<head>
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico">
    <meta charset="UTF-8/ISO-8859-1" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="Author" content="people" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1.0, user-scalable=0" />
    <title>El Clima - Córdoba</title>
    <!-- CORE CSS -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> 

    @RenderSection("HtmlHead", false)

</head>
<body>
    <!-- WRAPPER -->

    <div id="wrapper">
        <!-- Navigation -->
        @await Html.PartialAsync("NavMenu/_NavMenu")

        <!--     MIDDLE     -->
        <section id="middle">
            @RenderBody()
        </section>
        <!-- /MIDDLE -->
    </div>

    <!--JAVASCRIPT FILES-->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    @*<script src="~/assets/plugins/vuejs/dev/vue.js"></script>*@
    <script type="text/javascript" src="/assets/plugins/jquery/development/jquery-3.4.1.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>  
    <script src="~/scripts/Shared/menu/navMenuBinding.js" asp-append-version="true"></script>

    @RenderSection("DelayedScripts", false)

    @Html.Raw(MasterLayoutHelper.GetDelayedJavaScriptFiles(Context))
    <script type="text/javascript">
        jQuery(document).ready(function () {
            @Html.Raw(MasterLayoutHelper.GetLinesForDocumentReadyFunction(Context))
        });
    </script>
</body>
</html>
